@font-face {
  font-family: AmilTypeFace-Light;
  src: url('assets/fonts/AmilTypeface-Light_WebOnly.woff') format('woff');
}
@font-face {
  font-family: AmilTypeFace-Regular;
  src: url('assets/fonts/AmilTypeface-Regular_WebOnly.woff') format('woff');
}
@font-face {
  font-family: AmilTypeFace-Medium;
  src: url('assets/fonts/AmilTypeface-Medium_WebOnly.woff') format('woff');
}
@font-face {
  font-family: AmilTypeFace-Bold;
  src: url('assets/fonts/AmilTypeface-Bold_WebOnly.woff') format('woff');
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  font-size: 15px;
  line-height: 1.3;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  padding: 4em 0;
  background-color: #d1d3d4;
  width: 100%;
  color: #707070;
  font-size: 1.2em;
  font-family: AmilTypeFace-Regular;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.footer-disclaimer {
  margin-bottom: 7em;
}

.footer-flex {
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.footer-flex.reduced {
  width: 80%;
}

.footer-flex.s-between {
  justify-content: space-between;
}

.footer-icon {
  object-fit: contain;
}

.header-top {
  margin-left: 40vw;
  display: flex;
  width: 45vw;
  flex-direction: column;
  height: 50vw;
  align-items: center;
  font-size: 12px !important;
}

.header-image-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -15vw;
  top: 0vw;
  background-color: #4700ff;
  /* background: url(/assets/img/grafismo_amil_1.png); */
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  overflow: hidden;
}

.header-image-container img {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.header-slider {
  position: relative;
  border-radius: 50%;
  background-color: #4700ff;
  width: 75%;
  height: 75%;
}

.header-logo {
  width: 75px;
  object-fit: fill;
}

.header-select {
  font-size: 1.2em;
  position: relative;
  height: 2em;
  font-family: AmilTypeFace-Bold;
  display: block;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  padding-left: 0.5em;
  padding-right: 1.65em;
  max-width: 100%;
  margin-left: 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #057bff;
  background-image: url('/assets/img/arrow-select.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.header-info {
  font-size: 1em;
  font-family: AmilTypeFace-Regular;
  color: #00d896;
  text-align: center;
  margin-bottom: 15px;
}

.header-image {
  will-change: transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: scaleY(1) scaleX(1);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: url(./assets/img/imagem_topo_mae_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.6s ease-in-out,
    transform 0.6s ease-in-out;
  -ms-transition: -ms-transform 0.6s ease-in-out, transform 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.header-image.img-2 {
  background: url(./assets/img/imagem_topo_mae.jpg);
  background-size: cover;
  background-position: center;
}

.header-image.hidden {
  transform: scaleY(0.8) scaleX(0.8);
  opacity: 0;
}

#header-grafismo {
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000px;
  transform: rotateZ(0deg);
}

#header-grafismo.rotate {
  -webkit-transition: -webkit-transform 800ms;
  -ms-transition: -ms-transform 800ms;
  transition: transform 800ms;
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

@media screen and (min-width: 720px) {
  .header-info {
    text-align: right;
    margin-bottom: 0px;
  }

  .header-logo {
    margin-bottom: 0px;
  }

  .header-top {
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: row;
    margin-left: 50vw;
    justify-content: space-between;
    margin-right: 3vw;
    font-size: 12px !important;
  }

  .header-image-container {
    width: 70vw;
    height: 70vw;
    left: -25vw;
    top: -8vw;
  }

  .header-detail {
    border-bottom: 7vw solid rgba(45, 186, 255, 0.9);
    border-right: 7vw solid transparent;
    border-top: 7vw solid transparent;
    border-left: 7vw solid rgba(45, 186, 255, 0.9);
  }
}
@media screen and (min-width: 1300px) {
  .header-logo {
    width: 120px;
  }

  .header-top {
    font-size: 14px !important;
  }
}
@media screen and (min-width: 1600px) {
  .header-logo {
    width: 150px;
  }

  .header-top {
    font-size: 16px !important;
  }
}
.container {
  font-size: 6px;
}

.sliders-holder {
  position: relative;
  min-height: 25em;
  padding: 25px 0px;
}

@media screen and (min-width: 720px) {
  .footer-flex {
    flex-direction: row;
  }

  .sliders-holder {
    padding: 40px 0px;
    position: relative;
    min-height: 30em;
  }

  .container {
    font-size: 7px;
  }
}
@media screen and (min-width: 1300px) {
  .container {
    font-size: 8px;
  }

  /* .sliders-holder {
    min-height: 25em;
  } */
}
@media screen and (min-width: 1600px) {
  .container {
    font-size: 10px;
  }

  /* .sliders-holder {
    min-height: 30em;
  } */
}
@media screen and (min-width: 1800px) {
  .sliders-holder {
    min-height: 35em;
  }
}
.section-1 {
  margin-top: 15px;
  margin-left: 25px;
  margin-right: 25px;
  padding: 0;
  min-height: calc(100vh - 50vw);
  overflow: hidden;
}

.section-2 {
  overflow: hidden;
}

.section2-heading {
  margin-bottom: 5em;
}

.section2-heading .heading {
  font-size: 5em;
  color: #4746ff;
  font-family: AmilTypeFace-Light;
  font-weight: 200;
  text-align: center;
}

.section2-heading p {
  text-align: center;
  color: #b4b4b4;
  font-size: 2.6875em;
}

@media screen and (min-width: 720px) {
  .section-1.produto {
    margin-left: 48vw;
    max-width: 48vw;
  }

  .section-1 {
    margin: 0px;
    margin-left: 50vw;
    padding: 0;
    max-width: 48vw;
    min-height: calc(62vw - 54px);
    overflow: hidden;
  }
}
@media screen and (min-width: 1300px) {
  .section-1 {
    min-height: calc(62vw - 86px);
  }
}
@media screen and (min-width: 1600px) {
  .section-1 {
    min-height: calc(62vw - 133px);
  }

  .section2-heading p {
    margin-top: 25px;
  }
}
.progress-holder {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.slider-bar {
  width: 100%;
  height: 3px;
  background-color: #e3e0e0;
  box-shadow: 1px 1px 3px 0 rgba(227, 224, 224, 0.3);
  margin-bottom: 45px;
}

.slider-bar-progress {
  width: 0;
  height: 3px;
  background-color: #00d896;
  box-shadow: 1px 1px 2px 0 rgba(0, 216, 150, 0.3);
}

.slider-bar-progress.progressing {
  transition: 5s ease-out;
  width: 100%;
}

.description {
  color: #4746ff;
  position: relative;
  max-width: 40em;
  transition: 0.4s ease-in-out;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.description > h1 {
  font-size: 5em;
  line-height: 0.75;
  font-family: AmilTypeFace-Light;
  font-weight: 300;
}

.description > p {
  color: #b4b4b4;
  font-size: 2.6875em;
  margin: 15px 0;
  font-family: AmilTypeFace-Regular;
  font-weight: 300;
}

.description.hidden {
  visibility: hidden;
  position: absolute;
  transition: 0s;
  transform: translateX(25px);
  opacity: 0;
}

.description.produto {
  max-width: unset;
}

.description.produto > span {
  font-family: AmilTypeFace-Light;
  font-size: 2.875em;
}

.description.produto > h1 {
  font-size: 6.25em;
}

.description.produto > p {
  font-size: 2em;
}

@media screen and (min-width: 1600px) {
  .description.produto > p {
    font-size: 2em;
  }
}
@media screen and (min-width: 1800px) {
  .description.produto > p {
    font-size: 2.5em;
  }
}
.icon svg {
  width: 11em;
  height: 10em;
}

.price {
  font-family: AmilTypeFace-Medium;
  color: #4700ff;
}

.price h2 {
  font-size: 4em;
  line-height: 0.6;
}

@media screen and (min-width: 1600px) {
  .price h2 {
    font-size: 4.5em;
  }
}
@media screen and (min-width: 1700px) {
  .price h2 {
    font-size: 5em;
  }
}
.price h2 > span {
  font-size: 0.625em;
}

.price > p {
  font-size: 3.125em;
}

#next-slide {
  width: 25px;
  height: 25px;
  border-bottom: 4px solid #00d896;
  border-right: 4px solid #00d896;
  transform: rotate(-40deg);
  margin-left: 25px;
  cursor: pointer;
}

#next-slide.disabled-click {
  pointer-events: none;
}

.btn-subscribe {
  background-color: #00d896;
  color: #fff;
  width: 7.31em;
  height: 2.2em;
  display: flex;
  border: none;
  font-size: 3.125em;
  font-family: AmilTypeFace-Bold;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 70px;
  cursor: pointer;
}

.btn-subscribe:focus {
  outline: 0;
}

.btn-description {
  color: #bbb;
  margin: 0;
  font-size: 2.1em;
  font-family: AmilTypeFace-Medium;
  font-weight: 300;
}

.btn-description.green {
  color: #00d896;
}

.btn-description.bold {
  font-family: AmilTypeFace-Bold;
}

.btn-subscribe.small {
  font-size: 1.875em;
  font-family: AmilTypeFace-Bold;
  width: 9.57em;
  height: 2.24em;
}

.btn-subscribe.blue {
  background-color: #00adff;
}

.company-person {
  width: 100%;
  margin-top: 3em;
  margin-bottom: 5em;
}

.company-person.produto {
  margin: 0 auto 40px;
  font-size: 4em;
  text-align: center;
  font-family: AmilTypeFace-Light;
  font-weight: 300;
  color: #4746ff;
}

.company-person-bar {
  height: 6px;
  background-color: #dedede;
}

.company-person-options {
  margin: 0 auto 40px;
  width: 75vw;
  display: flex;
  font-family: AmilTypeFace-Regular;
  justify-content: space-around;
  font-size: 2.25em;
  color: #c7c7c7;
}

.company-person-options h3 {
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.company-person-options h3.active {
  color: #00adff;
}

.company-person-bar-details {
  width: 75vw;
  display: flex;
  height: 6px;
  margin: 0 auto;
}

.company-person-bar-details.produto {
  width: 100%;
}

.company-person-bar-details span {
  width: 50%;
}

.company-person-bar-details span.active {
  background: #00d896;
}

.content-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  padding: 0px 15px;
}

.content-wrapper.grid {
  max-width: 80vw;
  transition: transform 0.4s;
}

.content-wrapper.hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.content-wrapper.left {
  transform: translateX(-100%);
}

.content-wrapper.right {
  transform: translateX(100%);
}

.grid-wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 325px) {
  .content-wrapper {
    padding: 0px 25px;
  }
}
@media screen and (min-width: 420px) {
  .content-wrapper {
    width: 340px;
    padding: 0px;
  }
}
@media screen and (min-width: 600px) {
  .content-wrapper {
    width: 550px;
  }
}
@media screen and (min-width: 720px) {
  .description.produto > h1 {
    margin-left: -5px;
  }

  .company-person-options {
    width: 45vw;
  }

  .company-person-bar-details {
    width: 45vw;
  }

  .content-wrapper {
    width: 680px;
  }

  .content-wrapper.footer {
    max-width: 65vw;
  }
}
@media screen and (min-width: 800px) {
  .content-wrapper {
    width: 720px;
  }
}
@media screen and (min-width: 1100px) {
  .content-wrapper {
    width: 940px;
  }
}
@media screen and (min-width: 1300px) {
  .content-wrapper {
    width: 940px;
  }

  .company-person-options {
    width: 45vw;
  }

  /* .content-wrapper {
    max-width: 1000px;
  }

  .content-wrapper.grid {
    max-width: 1100px;
  } */
}
@media screen and (min-width: 1600px) {
  .content-wrapper {
    width: 1200px;
  }

  .company-person-bar-details {
    width: 40vw;
  }

  .company-person-options {
    width: 40vw;
  }

  /* .content-wrapper {
    max-width: 1300px;
  }

  .content-wrapper.grid {
    max-width: 80vw;
  } */
}
.content-wrapper.flex {
  display: flex;
  flex-direction: column;
}

.down-arrows {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
}

.down-arrows span {
  width: 2.5em;
  height: 2.5em;
  transform: rotate(-45deg);
  border-left: 4px solid #bababa;
  border-bottom: 4px solid #bababa;
}

.icons-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 45px;
  margin-bottom: 5em;
}

.icons-grid .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons-grid .number {
  width: 30px;
  height: 30px;
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 2px solid #707070;
  color: #fff;
  background-color: #494ffe;
  border-radius: 50%;
}

.icons-grid p {
  font-size: 1.625em;
  color: #4746ff;
  text-align: center;
  font-family: AmilTypeFace-Regular;
}

.disclaimer p {
  font-size: 1.125em;
  color: #000;
  text-align: center;
  font-family: AmilTypeFace-Regular;
  margin-bottom: 5em;
}

.center {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}

.carousel-holder {
  transition: 0.5s;
  display: none;
  transform: translateY(100px);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.carousel-holder.active {
  position: relative;
  display: flex;
  transform: translateY(0);
  visibility: visible;
  pointer-events: unset;
  opacity: 1;
}

.carousel-menu {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  font-family: AmilTypeFace-Medium;
}

.carousel-menu p {
  color: #b4b4b4;
  transition: 0.4s color ease-in-out;
  cursor: pointer;
  font-size: 1.6875em;
}

.carousel-menu p.active {
  color: #00adff;
}

.carousel-menu-pointer {
  width: 17px;
  height: 17px;
  background-color: #d6d6d6;
  border-radius: 50%;
  display: none;
}

.menu-holder {
  margin: 4em 2.5em;
  position: relative;
}

.carousel {
  position: relative;
  background-color: #4746ff;
  color: #fff;
  display: grid;
  grid-gap: 45px;
  margin: 0 auto;
  width: 98%;
  transition: 0.5s;
  border-radius: 18px;
  grid-template-columns: repeat(1, 1fr);
  min-height: 300px;
  opacity: 0.3;
  z-index: 1;
}

.carousel.active {
  opacity: 1;
  z-index: 2;
}

.carousel.left {
  position: absolute;
  transform: translateX(calc(-100% - 1em)) scale(0.9);
}

.carousel.left.far {
  transform: translateX(calc(-200% - 1em)) scale(0.9);
}

.carousel.right {
  position: absolute;
  transform: translateX(calc(100% + 2em)) scale(0.9);
}

.carousel.right.far {
  transform: translateX(calc(200% + 1em)) scale(0.9);
}

.carousel_col1 {
  padding-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.carousel_col1 h2 {
  font-size: 4.375em;
  font-family: AmilTypeFace-Bold;
  padding: 0px 25px;
}

.carousel_col1 h3 {
  font-size: 3.125em;
  font-family: AmilTypeFace-Regular;
  padding: 0px 25px;
}

.carousel_col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel_col2 ul {
  font-size: 1.75em;
  font-family: AmilTypeFace-Medium;
  list-style: none;
  padding: 0px 25px;
}

.carousel_col2 li {
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
}

.carousel_col2 li::before {
  position: absolute;
  top: 0px;
  left: 0;
  content: ' ';
  width: 22px;
  height: 17px;
  background: url(assets/img/check-mark.svg) no-repeat;
}

.btn-navigate-carousel {
  width: 10.7em;
  height: 10.7em;
  background-color: #00d896;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -6.85em;
  top: calc(50% - 5.35em);
  transition: 0.2s;
  visibility: hidden;
  z-index: 2;
  cursor: pointer;
}

.btn-navigate-carousel.active {
  visibility: visible;
}

.btn-navigate-carousel.left {
  left: -6.85em;
  transform: rotate(180deg);
}

.btn-navigate-carousel svg {
  width: 2.6em;
}

.btn-navigate-carousel.fade {
  pointer-events: none;
  opacity: 0;
}

.person-select {
  position: relative;
  height: 2em;
  display: block;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  padding-left: 0.5em;
  padding-right: 1.5em;
  max-width: 100%;
  margin-left: 15px;
  box-sizing: border-box;
  border-radius: 6px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('/assets/img/arrow-select-blue.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  border: 1px solid #707070;
  border-radius: 30px;
  font-family: AmilTypeFace-Medium;
  color: #00adff;
  font-size: 1.55em;
}

@media screen and (min-width: 720px) {
  .carousel_col1 h2 {
    padding: 0px;
  }

  .carousel_col1 h3 {
    padding: 0px;
  }

  .btn-navigate-carousel svg {
    margin-left: 15px;
  }

  .icons-grid .number {
    width: 60px;
    height: 60px;
  }

  .person-select {
    font-size: 2.25em;
  }

  .carousel_col1 {
    display: block;
    padding-top: 7em;
    padding-left: 7em;
    text-align: left;
  }

  .carousel_col2 {
    display: block;
    padding-top: 55px;
  }

  .carousel {
    grid-template-columns: [col1] 35% [col2] auto;
  }

  .carousel-menu-pointer {
    display: block;
  }

  .carousel-menu p {
    font-size: 2.6875em;
  }

  .icons-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.promotions {
  will-change: transform, opacity;
  position: absolute;
  transform: translateY(25%);
  transition: transform 0.4s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.promotions.active {
  position: relative;
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

#options-detail span {
  transition: 0.3s;
}
º
/* Produto */
.backline {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.backline .line {
  width: 100%;
  border-bottom: 2px solid #4700ff;
}

.backline a {
  margin-top: 10px;
  font-size: 2.125em;
  color: #00d896;
  font-family: AmilTypeFace-Bold;
  text-decoration: none;
}

.produto-description {
  text-align: center;
}

.produto-description.big-margin {
  margin-bottom: 13em;
}

.produto-description > h3 {
  font-size: 2.5em;
  color: #2da7fc;
  font-family: AmilTypeFace-Bold;
}

.vantagens {
  font-size: 2.5em;
  font-family: AmilTypeFace-Light;
  font-weight: 200;
  color: #6d7171;
}

.vantagens.big-margin {
  margin-bottom: 2.5em;
}

.vantagens-hidden {
  display: none;
  opacity: 0;
}

@media screen and (min-width: 1300px) {
  /* .produto-description > p.big-margin {
    margin-bottom: 85px;
  }

  .produto-description.big-margin {
    margin-bottom: 105px;
  } */
}
@media screen and (min-width: 1600px) {
  /* .produto-description > p.big-margin {
    margin-bottom: 105px;
  }

  .produto-description.big-margin {
    margin-bottom: 180px;
  } */
}
.vantagens-btn {
  font-size: 2em;
  font-family: AmilTypeFace-Medium;
  color: #00d896;
  text-align: center;
  cursor: pointer;
}

.itens-row {
  display: grid;
  grid-gap: 25px;
  margin-top: 25px;
}

.itens-row.itens-3 {
  grid-template-columns: repeat(1, 1fr);
}

.itens-row.itens-2 {
  grid-template-columns: repeat(1, 1fr);
}

.block-item {
  width: 100%;
  color: #fff;
  font-family: AmilTypeFace-Bold;
  background-color: #4746ff;
  border-radius: 21px;
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 11.1em;
}

.block-item > h4 {
  font-size: 2.5em;
}

.block-item > span {
  font-size: 1.5em;
}

.itens-holder {
  margin: 5em 0px 12em;
}

@media screen and (min-width: 720px) {
  .itens-row.itens-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .itens-row.itens-2 {
    grid-template-columns: [col1] auto [col2] 32.2% [col3] 32.2% [col2] auto;
  }
}

/*# sourceMappingURL=styles.css.css.map */
